.racydev_linky-bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.racydev_linky-bg-gray-800 {
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity))
}

.racydev_linky-bg-green-500 {
  --bg-opacity: 1;
  background-color: #48bb78;
  background-color: rgba(72, 187, 120, var(--bg-opacity))
}

.racydev_linky-bg-pink-500 {
  --bg-opacity: 1;
  background-color: #ed64a6;
  background-color: rgba(237, 100, 166, var(--bg-opacity))
}

.hover\:racydev_linky-bg-green-400:hover {
  --bg-opacity: 1;
  background-color: #68d391;
  background-color: rgba(104, 211, 145, var(--bg-opacity))
}

.hover\:racydev_linky-bg-pink-700:hover {
  --bg-opacity: 1;
  background-color: #b83280;
  background-color: rgba(184, 50, 128, var(--bg-opacity))
}

.focus\:racydev_linky-bg-gray-600:focus {
  --bg-opacity: 1;
  background-color: #718096;
  background-color: rgba(113, 128, 150, var(--bg-opacity))
}

.racydev_linky-border-gray-300 {
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity))
}

.racydev_linky-border-green-300 {
  --border-opacity: 1;
  border-color: #9ae6b4;
  border-color: rgba(154, 230, 180, var(--border-opacity))
}

.focus\:racydev_linky-border-blue-500:focus {
  --border-opacity: 1;
  border-color: #4299e1;
  border-color: rgba(66, 153, 225, var(--border-opacity))
}

.racydev_linky-rounded-md {
  border-radius: 0.375rem
}

.racydev_linky-rounded-lg {
  border-radius: 0.5rem
}

.racydev_linky-border {
  border-width: 1px
}

.racydev_linky-block {
  display: block
}

.racydev_linky-flex {
  display: flex
}

.racydev_linky-grid {
  display: grid
}

.racydev_linky-flex-col {
  flex-direction: column
}

.racydev_linky-justify-end {
  justify-content: flex-end
}

.racydev_linky-font-bold {
  font-weight: 700
}

.racydev_linky-text-sm {
  font-size: 0.875rem
}

.racydev_linky-text-lg {
  font-size: 1.125rem
}

.racydev_linky-text-xl {
  font-size: 1.25rem
}

.racydev_linky-text-2xl {
  font-size: 1.5rem
}

.racydev_linky-leading-5 {
  line-height: 1.25rem
}

.racydev_linky-m-0 {
  margin: 0
}

.racydev_linky-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.racydev_linky-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.racydev_linky-mt-2 {
  margin-top: 0.5rem
}

.racydev_linky-mt-4 {
  margin-top: 1rem
}

.racydev_linky-mb-4 {
  margin-bottom: 1rem
}

.racydev_linky-mt-6 {
  margin-top: 1.5rem
}

.focus\:racydev_linky-outline-none:focus {
  outline: 0
}

.racydev_linky-overflow-hidden {
  overflow: hidden
}

.racydev_linky-p-2 {
  padding: 0.5rem
}

.racydev_linky-p-6 {
  padding: 1.5rem
}

.racydev_linky-p-10 {
  padding: 2.5rem
}

.racydev_linky-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.racydev_linky-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.racydev_linky-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.racydev_linky-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.racydev_linky-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.racydev_linky-pr-5 {
  padding-right: 1.25rem
}

.racydev_linky-pl-5 {
  padding-left: 1.25rem
}

.racydev_linky-shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}

.racydev_linky-shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.racydev_linky-text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity))
}

.racydev_linky-text-gray-100 {
  --text-opacity: 1;
  color: #f7fafc;
  color: rgba(247, 250, 252, var(--text-opacity))
}

.racydev_linky-text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity))
}

.racydev_linky-text-blue-500 {
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity))
}

.racydev_linky-capitalize {
  text-transform: capitalize
}

.racydev_linky-w-full {
  width: 100%
}

.racydev_linky-gap-6 {
  grid-gap: 1.5rem;
  gap: 1.5rem
}

.racydev_linky-gap-y-4 {
  grid-row-gap: 1rem;
  row-gap: 1rem
}

.racydev_linky-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.racydev_linky-transform {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}

.racydev_linky-transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform
}

.racydev_linky-transition-colors {
  transition-property: background-color, border-color, color, fill, stroke
}

.racydev_linky-duration-200 {
  transition-duration: 200ms
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .md\:racydev_linky-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .lg\:racydev_linky-flex-row {
    flex-direction: row
  }

  .lg\:racydev_linky-w-1\/2 {
    width: 50%
  }

  .lg\:racydev_linky-w-2\/3 {
    width: 66.666667%
  }
}

@media (min-width: 1280px) {
}